<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377447420217-eu7k1re6v66peq8ivlvc0mq2vcak9ta7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377447420217-eu7k1re6v66peq8ivlvc0mq2vcak9ta7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377447420217-vj9c62ppubl3odp31j1ntlqj1hc0o2pu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIzVCrCMmnxoP43EVIh-9COB1uHaE1Qds</string>
	<key>GCM_SENDER_ID</key>
	<string>377447420217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoozin</string>
	<key>PROJECT_ID</key>
	<string>hoozin-65750</string>
	<key>STORAGE_BUCKET</key>
	<string>hoozin-65750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377447420217:ios:e2a0ea9ac00a4e0e</string>
	<key>DATABASE_URL</key>
	<string>https://hoozin-65750.firebaseio.com</string>
</dict>
</plist>